.home {
  background: url("../../data/loginImg.jpg") center/cover;
  width: 100%;
  height: 570px;
  margin-top: 100px;
  border-radius: 8px;
  z-index: 10;
  position: relative;
  top: 0;
}
.home1 {
  color: white;
  font-size: 70px;
  padding-top: 200px;
  padding-left: 100px;
}
.lib {
  color: greenyellow;
  font-family: cursive;
}
.fun {
  color: red;
  font-size: 40px;
  padding-left: 100px;
  font-family: "Times New Roman", Times, serif;
}

.icon1 {
  cursor: pointer;
  position: absolute;
  top: 60px;
  left: 1100px;
  padding: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
}

.text1 {
  position: absolute;
  top: 130px;
  left: 1100px;
  width: 140px;
  height: 180px;
  color: wheat;
  background-color: grey;
  padding: 10px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.icon1:hover + .text1 {
  display: flex;
}
.bookicon {
  cursor: pointer;
  position: absolute;
  top: 400px;
  left: 1250px;
  padding: 20px;
  background-color: rgb(5, 88, 5);
  color: white;
  border-radius: 50%;
}
.text2 {
  position: absolute;
  top: 450px;
  left: 1300px;
  width: 140px;
  height: 180px;
  color: wheat;
  background-color: rgb(15, 15, 72);
  padding: 10px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bookicon:hover + .text2 {
  display: flex;
}

.explore {
  font-size: 50px;
  color: rgba(230, 52, 52, 0.854);
  margin-top: 100px;
  margin-left: 200px;
}

.book {
  display: flex;
  width: 200px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin: 40px 100px;
  padding-top: 50px;
}
.more {
  display: flex;
  background-color: red;
  color: white;
  padding: 20px 100px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 150px;
}
.cat{
    width: 350px;
}
.cat1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.ecat{
    font-size: 50px;
    color: rgba(230, 52, 52, 0.854);
    margin-left: 180px;
    margin-bottom: 50px;
}
.tex{
    color: grey;
    font-size: 20px;
    margin-top: 20px;
}